.block {
  background-color: black;
  color: white;
  width: 10em;
  height: 10em;
  position: relative;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
}

.green-1 {
  color: #15803d;
}

.green-2 {
  color: #16a34a;
}

.green-3 {
  color: #22c55e;
}

.green-4 {
  color: #4ade80;
}

.white {
  color: #f0fdf4;
}

.row {
  size: 1em;
  position: absolute;
  top: 0;
}

.col {
  height: 100%;
  width: 1em;
}

.row-1 {
  top: 0;
}

.row-2 {
  top: 1em;
}

.row-3 {
  top: 2em;
}

.row-4 {
  top: 3em;
}

.row-5 {
  top: 4em;
}

.row-6 {
  top: 5em;
}

.row-7 {
  top: 6em;
}

.row-8 {
  top: 7em;
}

.row-9 {
  top: 8em;
}

.row-10 {
  top: 9em;
}

.block span:last-child {
  color: #f0fdf4;
}